.feature {
  background-color: #101923;
  border-top: 5px solid gray;
  z-index: 12;
  position: relative;
}
.customer {
  background-color: #1b293b;
  margin-top: -150px;
  z-index: 10000;
  color: white;
  max-height: 300px;
  width: 100%;
  padding: 10px 30px;
  border-radius: 20px;
  overflow: hidden;
}
.customer-text h1 {
  /* font-size: clamp(20px, 8vw, 35px);*/
}
.icon-logo {
  width: 120px;
}
.section {
  margin-top: 20px;
}
.feature .section > h2 {
  color: #3bafca;
  font-size: 25px;
}
.feature .list {
  height: 530px;
}
.feature .card1 {
  width: 100%;
}
.title {
  color: #33a9ff;
}
.feature .list .coll h1 {
  font-size: 25px;
}
.feature .list .coll {
  background-color: #1b293b;
  width: 33%;
  border-radius: 10px;
  overflow: hidden;
}
.feature .list .img1 {
  object-fit: contain;
  position: relative;
}
.collLast {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='500' preserveAspectRatio='none' viewBox='0 0 600 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='600' height='500' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M392.68 426.06 a12.68 12.68 0 1 0 25.36 0 a12.68 12.68 0 1 0 -25.36 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M78.32 264.6 a5.35 5.35 0 1 0 10.7 0 a5.35 5.35 0 1 0 -10.7 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M348.71 237.07L378.24 237.07L378.24 253.67L348.71 253.67z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M297.15 98.99L324.37 98.99L324.37 126.21L297.15 126.21z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M35.52 447.79 a29.89 29.89 0 1 0 59.78 0 a29.89 29.89 0 1 0 -59.78 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M319.04 113.6L327.68 113.6L327.68 122.24L319.04 122.24z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M72.74 23.17a14.67 14.67 0 1 0 27.17 11.08z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M181.08 362.99 a42.53 42.53 0 1 0 85.06 0 a42.53 42.53 0 1 0 -85.06 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M91.66 204.94L122.98 204.94L122.98 236.26L91.66 236.26z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M338.4 275.31 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M571.87 452.79L606.82 452.79L606.82 487.74L571.87 487.74z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M166.61 282.28a2.05 2.05 0 1 0 3.7-1.78z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M582.48 265.75L610.99 265.75L610.99 294.26L582.48 294.26z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M268.87 405.13 a41.8 41.8 0 1 0 83.6 0 a41.8 41.8 0 1 0 -83.6 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M541.48 179.03 a5.44 5.44 0 1 0 10.88 0 a5.44 5.44 0 1 0 -10.88 0z' stroke='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='600' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height: 100%;
}
@media screen and (max-width: 599px) {
  .feature .list .coll {
    margin-bottom: 30px;
    width: 100%;
  }
  .collLast {
    height: 530px;
  }
  .feature .list .coll p {
    font-size: 20px;
  }
  .feature .list {
    padding: 0;
    height: auto;
  }
  .customer {
    margin-top: -150px;
  }
  .icon-logo {
    width: 80px;
  }
  .customer-text h1 {
    font-size: 21px;
  }
}
@media screen and (max-width: 990px) and (min-width: 600px) {
  .customer {
    margin-top: -120px;
  }
  .feature .list {
    height: 350px;
  }
}

@media screen and (max-width: 990px) and (min-width: 660px) {
  .customer {
    margin-top: -90px;
  }
}
