.service {
  background-color: #101923;
  padding-top: 80px;
  padding-bottom: 100px;
}
.ourservice {
  font-size: 14px;
  letter-spacing: 1px;
  color: #3bafca;
}
.service .content {
  color: white;
}
.service-left {
  width: 50%;
}
.icon-content {
  padding: 15px;
  background-color: #33a9ff;
  border-radius: 50%;
  color: white;
}
.cretive-h h4 {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.cretive-p,
.service-p {
  color: #a5bcd6;
}
.service-right img {
}
.service-left2 .content {
  background-color: #2b64f8;
  border-radius: 15px;
}
.service-left2 .cretive-p {
  color: #d8e3f0;
  font-size: 14px;
}
.service-right2 .content {
  background-color: #2e4155;
  border-radius: 20px;
  overflow: hidden;
}
.service-right2 img {
  height: 100%;
  width: 300px;
}
@media screen and (min-width: 640px) and (max-width: 990px) {
  .service-left2 {
    width: 60%;
  }
}
@media screen and (max-width: 640px) {
  .service-left2 {
    padding-right: 0;
  }
}
@media screen and (max-width: 990px) {
  .service-right {
    margin-top: 30px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
